<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Intro VueJS</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/formulario.css">
  </head>
  <body>
    <main class="container" id="app">
    	<h2>Registro de Estudiantes</h2>
    	<form class="form" id="formulario" v-on:submit.prevent="agregar()" >
        <div class="form-group">
    			<input class="form-control" type="text" placeholder="Identificación" v-model="estudiante.identificacion" required></input>
    			<input class="form-control" type="text" placeholder="Nombre" v-model="estudiante.nombres" required></input>
    			<input class="form-control" type="text" placeholder="Apellido" v-model="estudiante.apellidos" required></input>
    			<input class="form-control" type="email" placeholder="Email" v-model="estudiante.email" required></input>
    			<input class="btn btn-success" type="submit" value="Agregar"></input>
    		</div>
    	</form>
      {{$data}}
    	<h2>Listado de Estudiantes</h2>
    	<table class="table" id="listado">
    		<tr>
    			<th>Identificación</th>
    			<th>Nombre</th>
    			<th>Apellido</th>
    			<th>Email</th>
    			<th>Opciones</th>
    		</tr>
        <tr v-for="estudiante in estudiantes">
          <td>{{estudiante.identificacion}}</td>
          <td>{{estudiante.nombres}}</td>
          <td>{{estudiante.apellidos}}</td>
          <td>{{estudiante.email}}</td>
          <td>
            <button @click="editar(estudiante)" class="btn btn-warning" type="button" >Editar</button>
            <button @click="eliminar(estudiante)" type="button" class="btn btn-danger" >Eliminar</button>
          </td>
        </tr>
    	</table>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          nombre : 'Oscar',
          estudiante : {
            identificacion: '',
            nombres: '',
            apellidos: '',
            email: ''
          },
          estudiantes: [],
          estudianteEnEdicion: '',
          editando: false
        },
        methods:{
          agregar(){
            datos = new FormData()
            datos.append('identificacion', this.estudiante.identificacion)
            datos.append('nombre', this.estudiante.nombres)
            datos.append('apellido', this.estudiante.apellidos)
            datos.append('email', this.estudiante.email)

            fetch('estudiantes.php', {
          		'method': 'POST',
          		'body': datos
          	}).then((response) => {
          		return response.json()
          	}).then((data) => {
          		alert(data.mensaje)
          		if(data.estado === 'ok'){
          			if(app.editando){
                  const index = app.estudiantes.indexOf(app.estudianteEnEdicion)
                  app.estudiantes.splice(index,1,app.estudiante)
          			}else{
          				app.estudiantes.push(app.estudiante)
          			}
          			app.limpiar()
          			app.editando = false
          		}
          	}).catch((err) => {
          		alert(err)
          	})
          },
          limpiar(){
            this.estudiante = {
              identificacion: '',
              nombres: '',
              apellidos: '',
              email: ''
            }
          },
          eliminar(estudiante){
            if(confirm('Esta seguro?')){
          		fetch('estudiantes.php?doc='+estudiante.identificacion+'&tipo=2')
          		.then((response) => {
          			return response.json()
          		})
          		.then((data) => {
          			alert(data.mensaje)
          			app.estudiantes.splice(this.estudiantes.indexOf(estudiante),1)
          		})
          		.catch((err) => {
          			alert(err)
          		})
          	}





          },
          editar(estudiante){
            this.estudianteEnEdicion = estudiante
            this.estudiante = JSON.parse(JSON.stringify(estudiante))
            this.editando = true
          }
        },
        mounted(){
          fetch('estudiantes.php?tipo=1').then((response) => {
          	return response.json()
          }).then((data) => {
          	this.estudiantes = data.data
          })
        }
      })

    </script>
  </body>
</html>
